/*----- Work Sans font ------*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Inter&family=Lato:wght@400;700;900&family=Lobster&family=Open+Sans&family=Oswald&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');


/* Shared Styles */
*{
   margin: 0;
   padding: 0;
   font-family: 'Work Sans', sans-serif;
}
.button-primary{
   border-radius: 8px;
   background: #FF900E;
   width: 180px;
   height: 64px;
   color: #FFF;
   font-weight: 600;
   font-size: 1.25rem;
   padding: 20px 20px;
   border: 0;
   cursor: pointer;
}

/* --------Header Style---------- */
header{
   background: rgba(255, 144, 14, 0.10);
   padding: 50px 250px;
}
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav-title{
   color:#131313;
   font-size: 3rem;
   font-weight: 700;
}
nav > ul{
   display: flex;
}
nav li{
   list-style: none;
   margin-right: 30px;
   font-weight: 500;
   font-size: 1rem;
}
nav li a{
   text-decoration: none;
   color: #424242;
}
.banner-content{
   max-width: 800px;
   text-align: center;
   margin: 0 auto;
   padding-top: 50px;
}
.banner-title{
   color: #131313;
   font-size: 4rem;
   font-weight: 700;
}
.banner-description{
   color:#727272;
   margin-top: 20px; margin-bottom: 20px;
}
.banner .banner-img{
   margin-top: 20px;
   width: 100%;
}


/* Main Section */
main{
   max-width: 1440px;
   margin: 70px auto;
}

/* Team Style */
.team-container{
   display: flex;
   align-items: center;
}
.team-imgs{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
}
.team-content{
   margin-left: 50px;
   padding-left: 50px; padding-right: 50px;
}
.team-content{
   max-width: 600px;
}
.content-title{
   font-size: 3rem;
}
.quick-list{
   color: #727272;
   font-weight: 500;
}
.of-out{
   color: #131313;
   font-weight: 700;
}
.feature-tex{
   color: #FF900E;
   font-weight: 700;
}

/* Features Section */
.features{
   margin-top: 150px;
   display: flex;
   gap: 130px
}
.features .nav-title{
   border-left: 5px solid #FF900E;
   padding-left: 20px;
}
.features-content .cards{
   padding: 30px;
   margin-bottom: 20px;
   border-radius: 8px;
   background: #FFF;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features-img img{
   height: 90%;
   margin-left: 90px;
}
.ten-years{
   border-radius: 8px;
   background: #FF900E;
   color: #FFF;
   width: 342px;
   padding: 40px;
   text-align: center;
   position: relative;
   bottom: 100px;
}
.ten-years h3{
   font-weight: 700;
   font-size: 4rem;
}.ten-years p{
   font-weight: 500;
   font-size: 1.5rem;
}

/* Fact Section */
.facts{
   margin-top: 50px;
}
.fact-card-container{
   display: flex;
   justify-content: space-around;
}
.fact-card-container .cart{
   border-radius: 8px;
   border: 1px solid #FF900E;
   text-align: center;
   padding: 30px 20px;
}
.fact-card-container .card-stats{
   font-size: 2.8rem;
   color: #424242;
   font-weight: 600
}
.fact-card-container .card-title{
   color: #727272;
   font-weight: 600;
   font-size: 1.2rem;
}

/* Sponsor Section Style */
.sponosr-container{
   margin-top: 50px;
   text-align: center;
}
.sponsor-imgs{
   margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.sponsor-imgs img{
   width: 165px;
}


/* Responsive Media Query for all Section */

/* Mobile Devices */
@media screen and (max-width: 576px) {
   header{
      padding: 20px;
   }
   nav{
      flex-direction: column;
   }
   .team-container{
      flex-direction: column-reverse;
      
   }
   .team-imgs{
      grid-template-columns: 1fr;
   }
   .fact-card-container,
   .team-content{
      padding-left: 20px; padding-right: 20px;
      margin-bottom: 30px;
   }
   .fact-card-container, .features{
      flex-direction: column;
      gap: 20px;
   }
   .sponsor-imgs{
      flex-direction: column;
      gap: 3gi0px;
   }
   .features-img{
      width: 90%;
      margin-left: 0px;
      
   }
   .ten-years{
      position: static;
      max-width: 300px;
      
   }
}

/* Tablet Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
   header{
      padding: 50px;
   }
   nav, .features{
      flex-direction: column;
   }
   .team-container{
      flex-direction: column-reverse;
   }
}
